
 <div class="hero-unit">
<h1>Create a New Course!</h1>
<br>
<p><i>Please fill out the appropriate fields in order to create your course.</i></p>


      <!-- Main hero unit for a primary marketing message or call to action -->
     
<%= render 'form' %>
</div>


<%= button_to('Back', courses_path) %>
